<html>
<head>
<title>custom_tracking_details.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
.s4 { color: #808080;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
custom_tracking_details.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s2">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s2">&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
&lt;LinearLayout <span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app=</span><span class="s2">&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools=</span><span class="s2">&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span>
    <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span>
    <span class="s1">android:layout_marginLeft=</span><span class="s2">&quot;10dp&quot;</span>
    <span class="s1">android:layout_marginRight=</span><span class="s2">&quot;10dp&quot;</span><span class="s0">&gt;</span>


    &lt;SeekBar
        <span class="s1">android:id=</span><span class="s2">&quot;@+id/seekBar1&quot;</span>
        <span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span>
        <span class="s1">android:rotation=</span><span class="s2">&quot;270&quot; </span><span class="s0">/&gt;</span>


    <span class="s4">&lt;!--&lt;androidx.appcompat.widget.AppCompatSeekBarTimelineView--&gt;</span>
        &lt;!--android:id=&quot;@+id/timeline&quot;--&gt;
        &lt;!--android:layout_width=&quot;wrap_content&quot;--&gt;
        &lt;!--android:layout_height=&quot;match_parent&quot;--&gt;
        &lt;!--app:markerSize=&quot;20dp&quot;--&gt;
        &lt;!--app:lineWidth=&quot;3dp&quot;--&gt;
        &lt;!--app:startLineColor=&quot;@color/colorAccent&quot;--&gt;
        &lt;!--app:endLineColor=&quot;@color/colorAccent&quot;--&gt;
        &lt;!--app:lineStyle=&quot;dash&quot;/&gt;--&gt;

    <span class="s0">&lt;com.google.android.material.card.MaterialCardView</span>
        <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop=</span><span class="s2">&quot;15dp&quot;</span>
        <span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;15dp&quot;</span>
        <span class="s1">android:layout_marginLeft=</span><span class="s2">&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginRight=</span><span class="s2">&quot;5dp&quot;</span>
        <span class="s1">android:layout_gravity=</span><span class="s2">&quot;center_vertical&quot;</span>

        <span class="s1">app:cardBackgroundColor=</span><span class="s2">&quot;@color/grey&quot;</span>
        <span class="s1">app:contentPadding=</span><span class="s2">&quot;15dp&quot;</span><span class="s0">&gt;</span>

        &lt;LinearLayout
            <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot;</span>
            <span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span>
            <span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0">&gt;</span>

            &lt;androidx.appcompat.widget.AppCompatTextView
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span>
                <span class="s1">android:id=</span><span class="s2">&quot;@+id/text_timeline_date&quot;</span>
                <span class="s1">android:textSize=</span><span class="s2">&quot;12sp&quot;</span>
                <span class="s1">tools:text=</span><span class="s2">&quot;24 JAN&quot;</span><span class="s0">/&gt;</span>

            &lt;androidx.appcompat.widget.AppCompatTextView
                <span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop=</span><span class="s2">&quot;5dp&quot;</span>
                <span class="s1">android:id=</span><span class="s2">&quot;@+id/text_timeline_title&quot;</span>
                <span class="s1">android:textColor=</span><span class="s2">&quot;@android:color/black&quot;</span>
                <span class="s1">tools:text=</span><span class="s2">&quot;Order Successfully Completed&quot;</span><span class="s0">/&gt;</span>

        &lt;/LinearLayout&gt;

    &lt;/com.google.android.material.card.MaterialCardView&gt;

&lt;/LinearLayout&gt;</pre>
</body>
</html>